*{
    font-size: 1.625rem;
}
legend{
    font-size: 1.875rem;
}
fieldset p{
    text-align: center;
}
p{
    width: 100%;
    margin-left: 0;
    float:center;
}
.input{
    margin-left: 15%;
    width: 70%;
    font-size: 1.25rem;
}
.form{
    width: 100%;
    margin-left: 0;
}
#gen,#nac{
    margin-left: 15%;
}
#se{
    width:400px;
}
.select-selected{
    width: 380px;
    font-size: 1.25rem;
}
.custom-select{
    width: 380px;
    font-size: 1.25rem;
}
.same-as-selected{
    font-size: 1.25rem;
}
.select-items{
    font-size: 1.25rem;
    width: 380px;
}
.select-arrow-active{
    font-size: 1.25rem;
}
.select-hide{
    font-size: 1.25rem;
}
#estadop{
    width: 100%;
}
.btnMain{
    font-size: 1.5625rem;
}
div{
    font-size: 1.25rem;
}