/* 
Project Name: 
Client: 
Authors: 
Developed @ One Month in Mexico City 
*/
.general{
    background: linear-gradient(180deg, #6C1D45 0%, #FFFFFF 74.51%); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    font-family: arial;
}
.form{
    margin-top:5%;
    width: 80%; 
    text-align: center; 
    margin-left: 10%; 
    background: rgba(207, 205, 205, 0.479); 
    border-radius: 50px;
    padding: 30px;
}