/*
 * General Styles
*/


body {
  background: url("/images/space-background.png");
  font-family: 'Open Sans', arial, sans-serif;

  /*Full Page Background Receipe*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p{
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 2rem;
}

h1{
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/*
 * Container Styles
*/

.container {
  width: 39.38rem;
  margin: 6.25rem auto;
  background: #DDD;
  border-radius: 1.25rem 1.25rem 0 0;
}
.hero{
  line-height: 0;
}
.hero img{
  width: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
}
/*
 * Aside Styles
*/
aside.left{
  float: left;
  padding: 1.25rem;
}
aside.right{
  float: right;
  padding: 0.3125rem;
}
.contact{
  padding: 0.625rem;
}
.intro{
  padding: 0.625rem;
  background: white;
}
#map{
  width: 100%;
}